.container {
    background-color:rgb(21, 21, 70);
    width: 50vw;
    position: relative;
}

.board {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 10%;
    position: relative;
    font-size: large;
}

.date {
    position: absolute;
    top: 30%;
    left: 0%;  
}

.button {
    position: absolute;
    top: 30%;
    right: 0%;
}

.backToday {
    padding-inline: 3%;
    position: absolute;
    top: 30%;
    right: 40%;
    background-color: rgb(17, 53, 87);
}

.backToday:hover {
    background-color: rgb(54, 130, 202);
}


.week {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin-bottom: 1%;
    font: bolder;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    font: bolder;
    text-align: center;
}

.day {
 width: auto;
 height: 10vh;
 font-size:120%
}

.info {
    position: absolute;
    top: 20%;
    right: 10%;
    border: 2px outset black;
    width: 40vw;
    height: 50vh;
    text-align: center;
    background-color:rgb(38, 38, 95);
    opacity: 0.9;
    font-size: 150%;
}

@media (660px < height) {
    .container {
        width: 90vw;
    }

    .day {
        height: 12vh
    }

    .info {
        right: 5%;
        width: 80vw;
    }
}