.container {
    background-color:rgb(21, 21, 70);
}

.board {
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 20%;
    position: relative;
    font-size: large;
}

.date {
    position: absolute;
    top: 30%;
    left: 0%;  
}

.button {
    position: absolute;
    top: 30%;
    right: 0%;
}

.backToday {
    border: 2px solid rgb(54, 130, 202);
    padding-inline: 3%;
    position: absolute;
    top: 30%;
    right: 30%;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 2rem;
    margin-bottom: 5%;
    font: bolder;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 2rem;
    font: bolder;
    text-align: center;
}

.day {
 /* border-radius: 50%; */
 border-bottom: 1px solid white;
}